.form {
    width: 35vw;
    margin: 0 auto;
}

.articleForm {
    border: 1px solid;
    margin-bottom: 20px;
    box-shadow: 5px 5px #0000009f;
    border-radius: 10px;
}

.button {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #bf7015;
    color: white;
}

.alert-danger {
    height: 1rem;
    display: flex;
    align-items: center;
    color: red;
    margin-top: 2px;
    border: none;
    border-radius: 0;
    background-color: white;
}