article>img {
    padding: 10px;
    margin: 0 auto;
}

.container-fluid {
    background-image: linear-gradient( -0.2turn, #bf7015b4 5%, #d1852fe5 22%, #eaebf1, #ffffff);
}

.card {
    margin: 15px;
}

.card-body>p {
    margin-bottom: 0.5rem;
}

.btCompra {
    font-size: 18px;
}

.faEdit {
    color: #333;
    cursor: pointer;
}