<main class="container-fluid">
    <header>
        <h2 class="text-center m-4">Alterar produto</h2>
    </header>


    <section class="row justify-content-center">

        <article class="col-md-5 col-sm-8 articleForm">

            <article>
                <button type=" button " class="close m-2 " data-dismiss="modal " aria-label="Close " routerLink="/products">
                <span aria-hidden="true ">&times;</span>
              </button>
            </article>

            <article>
                <h3 class="text-center my-3 ">Dados</h3>
            </article>

            <form class="form w-100" (ngSubmit)="submitForm()" [formGroup]="formulario">
                <div class="form-group w-100">
                    <input name="nome" formControlName="nome" class="form-control " placeholder="Digite o nome" required>

                    <!-- Validação do campo nome -->
                    <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">O campo nome deve ter entre 2 e 50 caracteres.</div>
                </div>

                <div class="form-group w-100">
                    <input name="marca" formControlName="marca" class="form-control ml-1" placeholder="Digite a marca " required>

                    <!-- Validação do campo marca -->
                    <div *ngIf="!marca.valid && marca.touched" class="alert alert-danger" role="alert">O campo marca deve ter entre 2 e 50 caracteres.</div>
                </div>

                <div class="form-group w-100">
                    <input name="modelo" formControlName="modelo" class="form-control" placeholder="Digite o modelo" required>

                    <!-- Validação do campo modelo -->
                    <div *ngIf="!modelo.valid && modelo.touched" class="alert alert-danger" role="alert">O campo modelo deve ter entre 2 e 50 caracteres.</div>
                </div>

                <div class="form-group  w-100">
                    <input name="preco" formControlName="preco" class="form-control" placeholder="Digite o preço" required>

                    <!-- Validação do campo preco -->
                    <div *ngIf="!preco.valid && preco.touched" class="alert alert-danger" role="alert">O campo preço deve ser preenchido.</div>
                </div>

                <div class="form-group  w-100">
                    <input name="descricao" formControlName="descricao" class="form-control" placeholder="Digite a descrição" required>

                    <!-- Validação do campo descricao -->
                    <div *ngIf="!descricao.valid && descricao.touched" class="alert alert-danger" role="alert">O campo descricao deve ter entre 5 a 100 caracteres</div>
                </div>

                <div class="form-group w-100">
                    <input name="link_foto" formControlName="link_foto" class="form-control" placeholder="Link da imagem" required>

                    <!-- Validação do campo Link da foto -->
                    <div *ngIf="!link_foto.valid && link_foto.touched" class="alert alert-danger" role="alert">O campo descricao deve ter entre 5 a 100 caracteres</div>
                </div>

                <article class=" d-flex justify-content-end ">
                    <button class="btn button " (click)="updateProduct() ">Atualizar</button>
                </article>
            </form>

        </article>

    </section>


</main>